<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>详情</title>
    <link href="__ICSS__/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__ICSS__/index.css?v=123465">
</head>
<style>
    p {
        font-size: 0.6rem;
        margin-top: 0;
        margin-bottom: 3px;
        color: #000000;
    }
    .layui-input-block{
        margin-left:0px;
    }
    .layui-form-item{
        margin-bottom:0px;
    }
</style>
<body>
<div class="mui-content details">
    <div class="details-img">
        <div class="del">
            <div class="head">
                <img src="__IIMG__/wenhao.png" />
            </div>
        </div>
        <h4 class="title"></h4>
    </div>
    <div class="deltail-img"><img src="__IIMG__/fd.png" style="width:100%"></div>
    <div class="detail-a1"><a href="add.html">帮忙收集信息可领取奖励！</a></div>
</div>
</body>
</html>


<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/layui/layui.all.js"></script>
